﻿html { 
 
	margin:0 ;
	padding:0;
	
	
}
body
{
	 font-family: Thonburi,Tahoma, Verdana, "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
	 /*font-family: "Trebuchet MS";*/ 
	font-size: 12px !important;
	color:#444;
	line-height:1.1;
	margin:0px !important;
	
}
 

*{ 
	-webkit-font-smoothing: antialiased ;
	text-rendering: optimizeLegibility; /*auto | optimizeSpeed | optimizeLegibility | geometricPrecision | inherit*/
	font-smooth: always; 
    outline: none;
 
}

a
{
	color: #0782C1;
}

ol,ul,dl,li
{
	/* IE7: reset rtl list margin. (#7334) */
 
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
	 
	 
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal !important;
	line-height: 1.0em ;
	margin:5px 0 !important;
	padding:0px 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	 
	font-weight:normal !important;
	color:#333  ;
}
h1 {
	font-size: 20px !important;
}
h2 {
	font-size: 24px !important;
	
}
h3 {
	font-size: 28px !important;
	margin:5px 0 10px !important;
	
}
h4 {
	font-size: 32px !important;

}
h5 {
	font-size: 36px !important;

}


hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}
 img
{
	
	border:none 0 !important;
	vertical-align:middle;
	}
  
 
img.right {
    border: 1px solid #ccc;
    float: right;
    margin: 15px 0 15px 35px;
    padding: 0px;
	max-width:50% ;
	height:auto !important;
}

img.left {
    border: 1px solid #ccc;
    float: left;
    margin: 15px 35px 15px 0;
    padding: 0px ;
	max-width:50%  ;
	height:auto !important;
	
}
q{
	 
	font-style: italic;
	padding: 0px 0 !important;
	margin: 0px 0 !important;
	 
	/*background:#efefef;*/
	line-height:1.0;
  
	
	}
q:before ,q:after {
	font-style: italic;
	 
	font-size:32px;
	 
}

q:before{
	content:url(../images/quote_before.png) !important;
	padding-right:10px;
	}

q:after {
	content:url(../images/quote_after.png) !important;
	padding-left:10px;
}
pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
}

.marker {
    background-color: Yellow;
}
 
p{
	text-indent:20px !important; 
	padding: 4px 0 4px 0 ;
	margin:0 !important;
	 
}


fieldset,
img {
	border:0 !important;
}

form,asp:Label{
	margin:0;
	padding:0;
}
/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style:normal;
	font-weight:normal;
}
/*
  TODO Figure out where this list-style rule is best set. Hedger has a request to investigate.
*/
 
caption,
th {
	text-align:left;
}
 
 

 
abbr,
acronym {
	border:0;
	font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	margin:2px 20px;
	font-family:inherit;
	font-size:12pt;
	font-weight:inherit;
	*font-size:100%;
}
	
input:focus{
	ie-dummy: expression(this.hideFocus=true);
  
}
blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
	font-style: italic;
	 
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
	font-size:20px !important;
}

 

.inputSubmit, .fileWrapper ,input[type=button]{
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	background-image:none;
	background-color:#693;
	border:1px solid rgba(0, 0, 0, 0.25);
	color:#FFFFFF !important;
	cursor:pointer;
	cursor:hand;
	display:inline-block;
	font-size:12px;
	font-weight:normal;
	line-height:1;
	 overflow:hidden;
	position:relative;
	text-decoration:none;
	text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
	width:auto;
	text-align:center;
	width:100px;
	height:30px; 	
	padding: 8px 0;
	margin:8px 0px 0px 5px;
 	
}

