body {margin: 0; padding: 0; width: 100%;height:100%;font-family: "Trebuchet MS";


    /*overflow:hidden;*/
}
html{
	 
	
	}
 
#mapCanvas {margin: 0px auto 0; width: 100%; height:100%;font-size:8px !important; position: absolute; left:0; top:0;}
#directionsPanel {
	margin: 0; 
	position: absolute; top: 0; left: 0; 
	width: 100%; 
	height: 100%;  
	border-left: none; 
	border-top: none; 
	padding:10px 0px 0;
	background-repeat:no-repeat;
	background-color:#ffffff;
               
	}
#directionsPanel a {display: block; text-decoration:none; clear: both;}
#useGPS {margin:3px auto;  color: #444; padding: 3px; text-align: center; font-size: 13px;width:200px;}
.or {clear: both; padding:0; text-align: center; color: #000; font-size: 13px; font-weight: bold;}
.directionInputs label {background:#FFC903; color: #000; padding:2px 8px; border:0px solid #000; text-align: center; font-size: 14px; margin-right: 10px;}
.directionInputs input {width:200px; height: 30px; font-size: 15px;border: 1px solid  #CCC; background-color: #fafafa;margin:5px 0 5px 25px;padding: 0 3px; }
.directionInputs #getDirections, .directionInputs #paneReset {display: inline-block;}
.directionInputs #paneReset {width: 85px}
#paneToggle {position: absolute; color: #000; width: 64px; padding: 0 3px; text-align: center; border:  0px solid #000; font-weight: bold; font-size: 16px; border-left: none; top:8px; right: 0px; z-index:999;}
#directionSteps {clear: both; font-size:14px; vertical-align:top; padding:0px 0px 0px !important; margin:43px 0px 0px ;display:none;}
 #directionSteps>div{
	 padding: 0 0 0 5px;
	 
	 
	 }
#directionSteps div table td{
	 padding: 5px;
	 
	 
	 }
 #directionSteps div table{
	 width:100%; 
	 margin:10px 0;
	 text-align:left;
	 border:0px none;
	 
	
	 }
#directionSteps div table tr:nth-child(even){
	  
	background-color:#F4F4F4;
               
	 }
 #directionSteps div span{
	/* border:1px solid #F33;*/
	 
	 
 }
 
.gmap-control-container  {
    
}

.gmap-control {
	 
  

}

.gmap-control-active {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #6D8ACC;
  border-color: #717B87 -moz-use-text-color #717B87 #717B87;
  border-style: solid none solid solid;
  border-width: 1px 0 1px 1px;
  color: #FFFFFF !important;
  font-weight: bold;
  
     


}

#closedirection{
	position:absolute;
	top:15px;
	left:15px;
	 z-index:99;
	
	
	}


a#paneToggle2{

/* height: 20px; */
/* z-index: 999999; */
position: absolute;
background: #FFC903;
color: #000;
width: 100%;
padding: 0 3px;
text-align: center;
border: 0px solid #000;
font-weight: bold;
font-size: 20px;
/* line-height: 20px; */
/* height: 20px; */
border-left: none;
/* top: 0; */
right: 0px;
bottom: 0;
}